/**
Palette: Fairhope pallette
GOLD: #C5A515
WHEAT: #F6DFB5
GREEN: #71B44B
LIGHT BLUE: #404E7C
DARK BLUE: #251F47

*/

body {
    margin: 0;
    text-align: center;
    font-family: "PT Serif", serif;
}

h1{
    background-color: #71b44b;
    border-radius: 6px;
    padding: 7px 14px;
    color: #404E7C;
    font-weight: 400;
}

h2{
    background-color: #c5a515;
    color: #251f47;
    border-radius: 6px;
    padding: 5px;
    font-size: 20px;
    font-style: italic;
}

h3{
    color: #F6DFB5;
    font-style: italic;
    font-weight: 300;
}

h4{
    color: #71b44b;
}

p{
    color: #c5a515;
    font-size: 12px;
}

.hero{
    background-image: url(https://www.jubileesuites.com/_next/image?url=https%3A%2F%2Fmedia-bridge.thinkreservations.com%2Fmedia-library%2Fhotels%2F310642707534%2F20a9161f-06e7-4ba2-b319-6bff31dadd32%2Fjubilee-suites-activities-visitors-guide.jpg&w=3840&q=75);
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.hero:hover {
    background-image: url(https://images.squarespace-cdn.com/content/v1/5d015207f64da20001a36e33/1589434924520-B50ZI69B83TG2DSB0R73/Downtown+Fairhope+20170523-1-banners.jpg);
}

.activities {
    background-color: #251f47;
    margin:auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 360px;
}

.card{
    display: flex;
    align-content: space-between;
    
}

.img-card {
    border-radius: 5px;
}

img {
    width: 100px;
    border-radius: 40%;

}

.guide {
    margin: 65px;
    padding: 60px;
}

.guide-sec {
    background-color: #404E7C;
    margin:0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-content: center;
    width: 400px;
    height: 275px;
    padding: 15px;
    border-bottom: #F6DFB5 solid 5px;
    border-left: #F6DFB5 solid 5px;
    text-align: center;
    ;

}
.guide-blurb {
    width: 100px;
    display: block;
    border: #F6DFB5 dashed 2px;
    padding:25px;
    font-size: 15px;
    
}

.guide-img{
    width: 155px;
    height: auto;
    
    
}
